.header {
	height: 50px;
	padding: 0 30px;
	border-bottom: 1px solid rgba($primary-brand-color, 0.1);
	box-shadow: 0 0 1px 1px rgba($primary-brand-color, 0.1);
	ul {
		li {
			font-weight: 500;
			margin-left: 30px;
			cursor: pointer;
			&:hover {
				color: $primary-brand-color;
			}
		}
	}
}
