.input-wrap {
	width: 100%;
	label {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 5px;
	}
	input {
		width: 100%;
		font-size: 14px;
		line-height: 16px;
		border: 1px solid #e3e3e3;
		padding: 12px 15px;
		border-radius: 5px;
	}
}
